<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Inventory;Integrated Security=True;Connection Lifetime=15;Min Pool Size=1;Max Pool Size=200;Connection Timeout=180;TrustServerCertificate=true;" />
	</connectionStrings>
</configuration>